.App {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
}

.App-header {
    background-image: url(library.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding: 20px;
    padding-top: 140px;
}


@media (max-width: 768px) {
    .App-nav li {
        display: block;
        margin: 10px 0;
    }

    .App-nav {
        text-align: center;
    }

    .App-header {
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        /* height: 100%; */
        color: white;
        padding: 20px;
        padding-top: 140px;
    }

    .find {
        font-size: 2px;
    }

    main {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .App-header h1 {
        font-size: 1.5em;
    }

    .App-nav {
        padding: 5px;
    }

    .App-nav li {
        margin: 5px 0;
    }
}